.historyItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // border: 3px solid yellow;
    font-size: 0.875rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border-radius: 12px;
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.5);
    position: relative;
}

.historyItemContainer img {
    padding-right: 12px;
    width: 128px;
    height: 128px;
}