.tipWrapper {
    text-align: center;
    padding: 10px 0;
    font-size: 0.875rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: start;
    // border: 3px solid yellow;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(227, 242, 253);
    color: rgb(13, 71, 161);
}