.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    // border-color: red;
    // border: 3px solid #ff0000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    background-color: rgb(76, 0, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background-color: rgb(79, 8, 201);
}

.button::before {
    content: " ";
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: currentColor;
    mask: url("./Icons/camera.svg") no-repeat center / contain;
    margin-right: 5px;
    -webkit-mask: url("./Icons/camera.svg") no-repeat center / contain;
}