.scannerContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid green;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 769px) {
        max-width: 768px;
        /* ограничиваем размер на ПК */
    }

    @media (max-width: 768px) {
        max-width: 100%;
        border-width: 2px;
    }
}

.inactiveContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    // border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 40, 46);
    position: absolute;
    flex-direction: column;
    gap: 6px;
    margin: 0;
    color: rgb(153, 150, 150);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.inactiveContainer::before {
    mask: url("./Icons/crossed-camera.svg") no-repeat center / contain;
    -webkit-mask: url("./Icons/crossed-camera.svg") no-repeat center / contain;
    content: "";
    width: 64px;
    height: 64px;
    background-color: currentColor;
    display: block;
}

.inactiveContainer p {
    margin: 0;
}

.displayWrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}