.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    position: relative;
    // border: 3px solid blue;
    border-radius: 12px;
    margin: 20px auto;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.5);
    padding: 12px;

    @media (max-width: 768px) {
        width: 95%;
        height: auto;
        padding: 12px;
        border-width: 2px;
        border-radius: 8px;
    }

    @media (min-width: 769px) {
        max-width: 768px;
        width: 95%;
    }
}