.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 20%;
    // border: 3px solid red;
    position: relative;
    border-bottom: 1px solid gray;
    
}

.headerContainer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: min-content;
    position: relative;
    border-radius: 12px;
}

.headerContainer h2 {
    margin: 0 !important;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    position: relative;
    justify-content: start;
    display: flex;
}

.countContainer {
    margin: 0 !important;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    position: relative;
    justify-content: start;
    display: flex;
    width: 100%;

}

.headerContainer button {
    margin: 0 !important;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    position: relative;
    justify-content: start;
    display: flex;
    border-radius: 6px;
    border: 1px solid gray;
}

.headerContainer button:hover {
    transition: 0.1s ease-in-out;
    background-color: rgb(229, 229, 229)
}