.container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    // border: 3px solid yellow;
    font-size: 0.875rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.rightContainer {
    background-color: rgb(183, 179, 179);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}