.headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    opacity: 0.9;;
    background-color: rgb(255, 252, 249);
    align-items: center;
    display: flex;
}

.logoWrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 10px 0;
    // border: 3px solid blue;
}

.logoWrapper span {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // border: 3px solid red;
}

.logoWrapper span::before {
    content: "";
    mask: url("./Icons/icon_128.svg") no-repeat center / contain;
    -webkit-mask: url("./Icons/icon_128.svg") no-repeat center / contain;
    width: 32px;
    height: 32px;
    display: inline-block;
    cursor: pointer;
    background-color: currentColor;
    padding-right: 5px;
}